.root{
    -fx-font-size: 15pt;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: linear-gradient(from 200px 200px to 800px 800px,#E82024,#A62325); /*red gradient*/
}

.error{
    -fx-border-color: red;
    -fx-border-width: 2px;
}

#header{
    -fx-font-size: 40pt;
    -fx-text-center: #000000;
    -fx-text-fill: #000000;
}

#footer{
    -fx-font-size: 25pt;
    -fx-text-fill: #000000;
}

.button{
    -fx-font-size: 20pt;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #000000;
    -fx-border-radius: 8px;
}

.table-view{
    -fx-font-size: 15pt;
}

.chart{
    -fx-background-color: red;
    -fx-border-color: black;
}

.chart-legend{
    -fx-text-fill: #FFFFFF;
}