.root{
    -fx-font-size: 15pt;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Verdana";
    -fx-background-color: linear-gradient(from 200px 200px to 800px 800px,#E82024,#A62325); /*red gradient*/
}

.error{
    -fx-border-color: red;
    -fx-border-width: 2px;
}

#header{
    -fx-font-size: 40pt;
    -fx-text-center: #000000;
    -fx-text-fill: #000000;
    -fx-font-family: "Verdana";
}

#outputLabel{
    -fx-font-size: 20pt;
    -fx-text-fill: #000000;
    -fx-font-family: "Verdana";
}

#otherLabels{
    -fx-font-size: 25pt;
    -fx-text-fill: #000000;
    -fx-font-family: "Verdana";
}

.button{
    -fx-font-size: 20pt;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #000000;
    -fx-border-radius: 8px;
    -fx-border-radius: 10 10 10 10; /*rounded corners*/
    -fx-background-radius: 10 10 10 10;
}
